:root {
    --primary-color: #0d1b16;
    --secondary-color: #233730;
    --accent-color: #7dffaf;
    --fg-color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--fg-color);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 0 20px; 
    z-index: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
    align-items: center;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px; 
    padding: 15px 20px; 
    margin: 0 10px; 
}

nav a:hover {
    text-decoration: underline;
}

/* GLOBAL STYLES */
.section {
    padding: 128px 32px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 2s;
}

.showing {
    opacity: 1;
    filter: blur(0);
}

a {
    color: var(--accent-color);
}

.button {
    background-color: var(--accent-color);
    border-radius: 80px;
    border: none;
    padding: 20px 32px;
    padding-right: 48px;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 16px;
}

.button:hover {
    cursor: pointer;
}

.button::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    width: 16px;
    height: 16px;
    background: url('assets/rightArrow.svg') no-repeat center;
    transform: translateY(-50%);
}

/* HEADER STYLES */
#header {
    background: linear-gradient(to left, #080e0c, #153628);
    padding-top: calc(80px + 128px); 
    /* // height of the nav */
}

#header .header-content {
    display: flex;
    gap: 80px; 
}

#header .text {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    gap: 12px;
    justify-content: center; 
    align-items: flex-start; 
    color: var (--fg-color);
}

#header .text h1 {
    font-size: 80px;
    color: var(--accent-color);
    margin: 0;
}

#header .text p {
    font-size: 32px;
    margin: 0;
    color: var(--fg-color);
}

#header .contactButton {
    margin-top: 18px;
    position: relative;
}

#header .image {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 100%;
    overflow: hidden;
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
}

#header .image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
}

/* ABOUT STYLES */
#about {
    background-color: var(--secondary-color);
    font-size: 32px;
}

#about .about-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

#about .para {
    text-indent: 50px;
    max-width: 1000px;
    margin: 0;
}

#about .para:nth-child(2) {
    transition-delay: 300ms;
}

#about .para:nth-child(3) {
    transition-delay: 600ms;
}

#about .para strong {
    color: var(--accent-color); 
    font-weight: 400;
    font-style: italic;
}

#skills {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
}

#skills .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#skills .badges {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

#skills .badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    flex: 1;
}

#skills .badge:nth-child(2) {
    transition-delay: 300ms;
}

#skills .badge:nth-child(3) {
    transition-delay: 600ms;
}

#skills .badge:nth-child(4) {
    transition-delay: 900ms;
}

#skills .badge:nth-child(5) {
    transition-delay: 1200ms;
}

#skills .badge img {
    height: 100%;
    width: 100%;
    flex: 1;
    flex-shrink: 0;
}

#skills .badge p {
    font-size: 24px;
    margin: 0;
}

#projects {
    background-color: var(--primary-color);
}

h1, h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.project {
    margin-bottom: 1em;
}

footer {
    background-color: var(--accent-color);
    color: var(--primary-color);
    text-align: center;
    padding: 0.5em 0;
    font-weight: 600;
}

#contact {
    background-color: var(--secondary-color);
}

#contact p {
    font-size: 24px;
}

#contact .contactButton {
    background-color: var(--accent-color);
}

#contact .contactButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    padding: 10px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact .contactButton:hover {
    background-color: #4daf73;
}

#contact .contactButton img {
    width: 24px;
    height: 24px;
}

#interactive-game {
    background-color: var(--secondary-color);
}

#interactive-game #game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#interactive-game #question {
    font-size: 24px;
    color: var(--fg-color);
    text-align: center;
}

#interactive-game #input,
#interactive-game #button,
#interactive-game #replay-button {
    padding: 10px 20px;
    font-size: 18px;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 2s;
}

.showing {
    opacity: 1;
    filter: blur(0);
}
