body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #f4f4f4;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #005B41;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px; 
}

nav .logo {
    height: 40px; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px; 
    padding: 15px 20px; 
    margin: 0 10px; 
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 2em;
}

#about {
    background-color: #011b11;
}

#about .about-content {
    display: flex; 
}

#about .text {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding-right: 1em; 
    color: white;
}

#about h2 {
    align-self: flex-start; 
}

#about .image {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#about img {
    height: 350px;
    width: 200px;
}

#skills {
    background-color: #011b11;
    display: flex;
    justify-content: space-around;
}

.left-section,
.right-section {
    flex: 1;
    padding: 2em;
    text-align: center;
}

.left-section h2,
.right-section h2 {
    margin-top: 0;
}

.left-section ul,
.right-section ul {
    list-style-type: none;
    padding: 0;
}

.left-section ul li,
.right-section ul li {
    margin-bottom: 10px;
}

#projects {
    background-color: #011b11;
}

#contact {
    background-color: #011b11;
}

h1, h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.project {
    margin-bottom: 1em;
}

footer {
    background-color: #1e6666;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
